/* 引入antd样式 */
@import '~antd/dist/antd.css';

:root {
  /* 前台后台主调色 */
  --main-bg: #fff;
  /* 页面滚动条颜色 */
  --page-scroll-bg: skyblue;
  /* 后台按钮主要颜色 */
  --admin-button-color: #44c7f5;
  /* 设置响应式 */
  font-size: 1.5vw;
  /* 设置字体主要颜色 */
  color: #666666;
  /* 设置字体 */
  --main-font-family: "Roman-55", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font-family);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  float: none;
  position: relative;
}

/* body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: skyblue;
}

body::-webkit-scrollbar-thumb:window-inactive {
  background-color: skyblue;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}