/* 引入antd样式 */
@import '~antd/dist/antd.css';

:root {
  /* 前台后台主调色 */
  --main-bg: #fff;
  /* 页面滚动条颜色 */
  --page-scroll-bg: skyblue;
  /* 后台按钮主要颜色 */
  --admin-button-color: #44c7f5;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}